{%set gl = frappe.get_list(doctype="GL Entry",  fields=["account", "party_type", "party", "debit", "credit", "remarks"], filters={"voucher_type": doc.doctype, "voucher_no": doc.name}) %}
{%set style             = "automail/templates/includes/style.css" %} 
<style> {%- include style -%} </style>    
{% set address = frappe.get_list(
    'Address',
    filters={
    'is_your_company_address': '1',
    'link_name': doc.company
    },
    fields=[
    'idx',
    'address_title',
    'address_line1',
    'address_line2',
    'city',
    'country',
    'state',
    'pincode',
    'email_id',
    'phone',
    ],
    )
    %}                                

{% set ans = frappe.db.get_value('Letter Head','Main_Letterhead','image') %}
<div class="divTable t">  
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell text-center"style="width:20%;">
                <img class="logo" alt="Sample Latter Head" src="{{ans}}">
            </div>

            {% for address in address %}
            {% if(address.lnik_name == doc.company ) %}{%endif%}
            <div class="divTableRow">
                <div class="divTableCell col-xs-12 c-text" style="font-size: 12px; padding:0px;">
                    <strong><h4>{{doc.company}}</h4></strong>
                </div>
            </div>
            <div class="divTableRow">
                <div class="col-xs-12" style="font-size: 10px; padding: 0px 5px;">{{address.address_line1 or ''}}, {{address.address_line2 or ''}}</div>
            </div>
            <div class="divTableRow">
                <div class="col-xs-12" style="font-size: 10px; padding:0px 5px;">{{address.city or ''}}, {{ address.state or ''}}-{{ address.pincode or '' }}, {{address.country or ''}}</div>
            </div>
            {% endfor %}
        </div>
    </div> 
</div>   <br>
<hr>
<div class="top"><p style=" text-align:center;">PAYMENT ADVICE</strong></p></div>
<div>
    <div class="col-xs-6 text-left"> <strong>Doc No: </strong>{{ doc.name }} </div>
    <div class="col-xs-6 text-right"> <strong >Date: </strong>{{ doc.get_formatted('posting_date') }}</div>
</div>
<div>
    <div class="col-xs-6 text-left"> <strong>Party Name: </strong>{{ doc.party_name }} </div>
</div>
<div>
    <div class="col-xs-6 text-left"> <strong>Email ID: </strong>{{ doc.contact_email }} </div>
</div>
<br><br>
<b>Payment References</b>
<div class="divTable t line">
    <div class="divTableBody">
        <div class="divTableRow bglight">
            <div class="divTableCell text-center r-line" style="width: 25%;"><strong>Inv No.</strong></div>
            <div class="divTableCell text-center r-line" style="width: 10%;"><strong>Due Date</strong></div>
            <div class="divTableCell text-center r-line" style="width:25%;"><strong>Supplier Invoice No</strong></div>
            <div class="divTableCell text-center r-line" style="width:20%;"><strong>Grand Total</strong></div>
            <div class="divTableCell text-center " style="width:20%;"><strong>Outstanding</strong></div>
        </div>
        {%- for ref in doc.references -%}
        <div class="divTableRow" style="border-top:1px solid black; ">
                <div class="divTableCell text-center" style="width: 2%;">{{ref.reference_name}}</div>
                <div class="divTableCell r-line l-line">{{ref.due_date}}</div>
                <div class="divTableCell text-right">{{ref.bill_no}}</div>
                <div class="divTableCell text-right r-line l-line">{{ref.get_formatted("total_amount", doc) }}</div>
                <div class="divTableCell text-right">{{ref.get_formatted("outstanding_amount", doc) }}</div>
        </div>
        {%endfor%}
    </div>
</div><br><br>
<b>Payment Deductions or Loss</b>
<div class="divTable t line">
    <div class="divTableBody">
        <div class="divTableRow bglight">
            <div class="divTableCell text-center r-line" style="width: 25%;"><strong>GL Acount</strong></div>
            <div class="divTableCell text-center r-line" style="width: 10%;"><strong>Cost Center</strong></div>
            <div class="divTableCell text-center r-line" style="width:25%;"><strong>Amount</strong></div>
            <div class="divTableCell text-center r-line" style="width:20%;"><strong>Describ</strong></div>
        </div>
        {%- for ref in doc.deductions -%}
        <div class="divTableRow" style="border-top:1px solid black; ">
                <div class="divTableCell text-center" style="width: 2%;">{{ref.account}}</div>
                <div class="divTableCell r-line l-line">{{ref.cost_center}}</div>
                <div class="divTableCell text-right r-line l-line">{{ref.get_formatted("amount", doc) }}</div>
                <div class="divTableCell text-right">{{ref.description}}</div>
        </div>
        {%endfor%}
    </div>
</div>
<br><br>
<div>
    <div class="col-xs-6 text-left"> <strong>Total Paid Amount: </strong>{{ doc.paid_amount }} </div>
</div>

<br><br>
<div>
    <b>Write off</b><br>
    <div class="col-xs-4 text-left"> <strong>Total Allocated Amount : </strong>{{ doc.total_allocated_amount }} </div>
    <div class="col-xs-4 text-left"> <strong>Unallocated Amount: </strong>{{ doc.unallocated_amount }} </div>
    <div class="col-xs-4 text-left"> <strong>Difference Amount: </strong>{{ doc.difference_amount }} </div>
</div>
<div><br>
    <b>Cheque/Reference No</b><br>
    <div class="col-xs-6 text-left"> <strong>Reference No: </strong>{{ doc.reference_no }} </div>
    <div class="col-xs-6 text-left"> <strong>Reference Date: </strong>{{ doc.reference_date }} </div>
</div>
<div><br>
    <b>Remarks</b><br>
    <div class="col-xs-6 text-left"> <strong>Reference No: </strong>{{ doc.remarks }} </div>
</div>

<!-- End -->